In [2]:
import pandas as pd
pd.set_option("display.max_rows",1000)   
pd.set_option("display.max_columns",20)   
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

In [5]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [7]:
data.describe()

           ounces
count   9.0000000
mean    6.0555556
std     2.8553069
min     3.0000000
25%     4.0000000
50%     6.0000000
75%     7.5000000
max    12.0000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 216.0+ bytes

In [9]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [11]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [12]:
data['animal2'] = data.apply(meat2animal,axis='columns')
data

          food  ounces animal2
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0  salmon
4  corned beef     7.5     cow
5        Bacon     8.0  salmon
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [13]:
data.pivot_table(values='ounces',index='group',aggfunc=np.mean)

NameError: name 'np' is not defined

In [1]:
datam=pd.read_table('movies.dat',sep='::',names=['movies-id','title','gernes'])
datam=pd.read_table('movies.dat',sep='::',names=['movies-id','title','gernes'])

NameError: name 'pd' is not defined

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:\Users\rohan\Downloads\Rohan\ml-1m\user.dat', sep="::")
df

C:\Users\rohan\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

IOError: [Errno 22] invalid mode ('r') or filename: 'C:\\Users\rohan\\Downloads\\Rohan\\ml-1m\\user.dat'